# Environments
venv/
.env
.venv
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Databases
db.sqlite3
db.sqlite3-journal

# Media and Static
media/
staticfiles/

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo